*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #1F1E1E;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 0 49px;
}

.header__phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  color: #fff;
}

.header__phone-number {
  font-weight: 400;
  background-color: #886239;
  border-radius: 22px;
  padding: 12px 31px 13px;
  margin-left: 19px;
}

.menu {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 27px 0 24px;
  margin-top: 15px;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}

.header__descr {
  max-width: 420px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #886239;
  border-radius: 30px;
  padding: 18px 55px 20px;
  margin-bottom: 20px;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.direction {
  padding: 100px 0;
}

.direction__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.direction__img {
  display: block;
}

.direction__text {
  font-size: 16px;
  border: 1px solid #D9D9DE;
  border-top: none;
  padding: 10px 19px 14px;
}

.travel-info {
  background-image: url(../images/travel-info-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 50px;
}

.travel-info__title {
  color: #fff;
  margin-bottom: 50px;
}

.travel-info__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 54px 67px;
}

.travel-info__img {
  margin-bottom: 15px;
}

.travel-info__text {
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.popular {
  padding: 100px 0;
}

.popular__title {
  margin-bottom: 40px;
}

.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  border-bottom: 1px solid #D9D9DE;
  padding-bottom: 80px;
}

.popular__link {
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 130%;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px 24px 19px;
}

.popular__link:nth-child(3),
.popular__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.popular__link-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.popular__link-title--big {
  font-size: 25px;
}

.popular__price {
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
}

.popular__country,
.popular__time {
  margin-bottom: 15px;
}

.map {
  padding-bottom: 100px;
}

.map__title {
  margin-bottom: 46px;
}

.about {
  padding-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-template-columns: 448px 640px;
  grid-gap: 32px;
}

.about__title {
  text-align: left;
  margin-bottom: 25px;
}

.about__text {
  margin-bottom: 34px;
}

.about__link {
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: underline;
}