*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #1F1E1E;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  /*
  ВНИМАНИЕ: на фоне хедера есть линии! дизайнер дал криво-вырезанную пикчу.
  TODO: вырезать пикчу правильно, с width & height играться не надо.
  */
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 0 49px;
}

.header__phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  color: #fff;
}

.header__phone-number {
  font-weight: 400;
  background-color: #886239;
  border-radius: 22px;
  padding: 12px 31px 13px;
  margin-left: 19px;
}

.menu {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 27px 0 24px;
  margin-top: 15px;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: auto;
}

.header__descr {
  max-width: 420px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #886239;
  border-radius: 30px;
  padding: 18px 55px 20px;
  margin-bottom: 20px;
}

.header__arrow {
  text-align: center;
  margin-bottom: 15px;
}

.direction {
  padding: 100px 0;
}

.direction__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.direction__img {
  display: block;
}

.direction__text {
  font-size: 16px;
  border: 1px solid #D9D9DE;
  border-top: none;
  padding: 10px 19px 14px;
}